
/**************等待页面***************/
#loadingModel{
	width: 100%;
	height: 100%;
	z-index: 999px;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	padding-top: 300px;
	/* 默认显示 */
	/* display: none; */
}
#loadingModel>#loadFont{
	width: 100%;
	font-size: 20px;
	color: white;
	font-weight: bold;
}
/*****************************************************响应式*****************************************************/
/* x<=767的设备 */
@media screen and (max-width : 767px) { 
	
	/******************导航栏*****************/
}
/* 991>=x>=768的设备 */
@media screen and ( min-width : 768px) and (max-width : 991px) { 
	
	/******************导航栏*****************/
}


/* 1199>=x>=992的设备 */
@media screen and (min-width : 992px) and (max-width : 1199px){
	
	/******************导航栏*****************/
}



/* x>=1200的设备 */
@media screen and ( min-width : 1200px) {
	/******************导航栏*****************/
	
}
}