

/******************业务业务*****************/
#service{
	background:white;
	width: 100%;
	/* height: 100%; */
}

#service>div {
	/* height: 100%; */
	/* float: left; */
}

/**左边**/
#serviceDisplay_left {
	/* width: 30%; */
	background: white;
	overflow-x: hidden;
	overflow-y: scroll;
}


/*位置导航*/
#serviceDisplay_positionNav {
	background: rgb(229, 229, 229);
	height: 35px;
	padding-left: 15px;
	line-height: 35px;
}

#serviceDisplay_positionNav>span {
	font-size: 15px;
	font-weight: bold;
}

#serviceDisplay_positionNav>#up {
	font-style: italic;
}
/**具体内容**/
#service_content {
	background: white;
	width: 90%;
	margin-left: 5%;
	text-align: center;
}

#service_content>div {
	text-align: center;
	width: 100%;
	font-weight: lighter; margin-top : 40px;
	border-bottom: 1px solid rgb(229, 229, 229);
	padding-bottom: 40px;
	margin-top: 40px;
}

#service_content>#serviceDetail_title {
	font-size: 42px;
	text-align: left;
	color: gray;
	padding-bottom: 20px;
}

#service_content>#serviceDetail_text {
	font-size: 14px;
}
/*条件筛选*/
/* #service_content>#serviceDetail_filter {
	font-size: 14px;
	margin-top: 0px;
	border-bottom: 0px solid rgb(229, 229, 229);
	padding-bottom: 0px;
	margin-bottom: 40px;
}
 */
#serviceDetail_filter>.serviceFiler_Items {
	border-bottom: 1px solid rgb(229, 229, 229);
	text-align: left;
	margin: 10px 0px;
}
.serviceFiler_Items>.serviceFilterName:hover{
	background: rgb(229, 229, 229)

}
.serviceFiler_Items>.serviceFilterName{
	cursor: pointer;

}
.serviceFiler_Items>.serviceFilterName * {
	font-size: 18px;
	color: rgb(91, 91, 91);
	font-weight: bolder;
	cursor: pointer;
}

.serviceFilterName>.status {
	font-size: 12px;
	color: gray;
}

.serviceFiler_Items>.serviceFilterConditionDiv * {
	font-size: 14px;
	font-style: italic;
	color: gray;
}

.serviceFilterConditions {
	margin: 10px 0px;
	margin-left: 25px;
}
/**右边**/
#serviceDisplay_right {
	/* width: 70%; */
}
#service_ul{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	list-style: none;
	text-align: center;
	/* overflow-y: scroll;
	overflow-x: hidden; */
}
/* #service_ul_scroll{
	position:absolute;
	top:0px;
	right:0px;
	width:15px;
	height:90px;
	background: gray;
	text-align:center;
	line-height: 90px;
	cursor: pointer;
}
#service_ul_scroll *{
	
	color:white;
} */

.service_li{
	/* width:24%; 
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;*/
	
	float:left;
	
}
.service_displayDiv{
	
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	cursor: pointer;
}
.service_imgDiv{
	width:100%;
}
.service_imgDiv>img{
	width:100%;
}
.service_infoDiv{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background: rgba(0,0,0,0.4);
	height:100%;
	display: block;
	/* display: none; */
}
.service_infoDiv_model{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	/* 不能写height：100% */
	background: rgba(255,255,255,0.1);
	
	
}


.service_titleDiv{
	
	font-weight: lighter;
	color:white;	
	font-size: 18px;
	display: block;
}
.service_dateDiv{
	font-size: 20px;
	font-weight: lighter;
	color:white;	
	display: block;
}


/*****************************************************响应式*****************************************************/
/* x<=767的设备 */
@media screen and (max-width : 767px) { 
	
	/******************业务业务*****************/
}
/* 991>=x>=768的设备 */
@media screen and ( min-width : 768px) and (max-width : 991px) { 
	
	/******************业务业务*****************/
	#service_content>#serviceDetail_title {
		font-size: 29px;
	}
	
	#service_content>#serviceDetail_text {
		font-size: 14px;
	}
	.serviceFiler_Items>.serviceFilterName * {
		font-size: 16px;
	}
	.serviceFiler_Items>.serviceFilterConditionDiv * {
		font-size: 12px;
	}
	.service_titleDiv{
	
		font-size: 12px;
	}
	.service_dateDiv{
		font-size: 12px;
	}
	
	
	
}


/* 1199>=x>=992的设备 */
@media screen and (min-width : 992px) and (max-width : 1199px){
	
	/******************业务业务*****************/
	
	#service_content>#serviceDetail_title {
		font-size: 32px;
	}
	
	#service_content>#serviceDetail_text {
		font-size: 16px;
	}
	
	.service_titleDiv{
	
		font-size: 15px;
	}
	.service_dateDiv{
		font-size: 17px;
	}
}



/* x>=1200的设备 */
@media screen and ( min-width : 1200px) {
	/******************业务业务*****************/
	
}




/**复选框样式***/
#service .serviceCheckBox{
  display: none;
  cursor: pointer;
}

#service label{
  	cursor: pointer;
	display:block;
	padding-left:20px;
	width : 100%; 
	height : 15px;
	line-height:14px;
	background: url(../imgslib/icons/unchecked.png) no-repeat ;
}

#service .serviceCheckBox:checked+label{
	color: black; 
	background: url(../imgslib/icons/checked.png) no-repeat;
	font-weight: bolder;
	font-style: normal;
}

