* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: black;
	font-family: "Microsoft YaHei";
	margin: 0px 0px;
	padding: 0px 0px;
	text-decoration: none;
}

html,body {
	width: 100%;
	height: 100%;
}

/******************新闻详情信息*****************/
#newsDetail{
	width: 100%;
	height: 100%;
	background:white;
}
#newsDetail>div{
	float: left;
	height:100%;
}

/***左部***/
#newsDetail_left{
	width:35%;
	/* 新闻内容超过，允许滚动条 */
	overflow-y: scroll;
	overflow-x: hidden;
}

/**位置导航**/
#newsDetail_position{
	background: rgb(240,240,240);
	height:35px;
	padding-left: 15px;
	line-height: 35px;
}
#newsDetail_position>span{
	font-size: 15px;
	font-weight: bold;
}

#newsDetail_position>#up{
	font-style: italic;
}	

/**翻页**/

#newsDetail_changePage{
	background: rgb(212,212,212);
	height:60px;
	line-height: 60px;
}
#newsDetail_changePage>span{
	font-size: 22px;
	font-weight: lighter;
}
#newsDetail_changePage>#nextPage{
	float: right;
	margin-right: 18px;
}
#newsDetail_changePage>#prePage{
	float: left;
	margin-left: 18px;
}

/**具体内容**/
#newsDetail_content{
	background: white;
	width:80%;
	margin-left: 10%;
	text-align: center;
	
}
#newsDetail_content>div{
	text-align: center;
	width:100%;
	margin-top:20px;
	font-size: 16px;
	border-bottom: 1px solid gray;
	font-weight: lighter;	
	background: white;
	
}
#newsDetail_content>#newsDetail_title{
	font-size: 29px;
}
#newsDetail_content>#newsDetail_date{
	
}
#newsDetail_content>#newsDetail_text{
	font-size: 20px;
	margin-bottom: 40px;
}

/***右部***/
#newsDetail_right{
	width:65%;
	overflow: hidden;
}

/***图片展示***/
#newsDetail_right>#newsDetail_newsImgDisplay{
	width:100%;
	height:80%;
	cursor: pointer;
}
#newsDetail_newsImgDisplay>#newsDisplayImg{
	
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
	width:calc(100% - 6px);
	height:calc(100% - 6px);
	
}
/***图片列表***/
#newsDetail_right>#newsDetail_newsImgList{
	width:100%;
	height:20%;
	overflow: hidden;
}
#newsImgUl{
	position:relative;
	top:0px;
	left:0px;
	list-style:none;
	width:10000%;
	height:100%;
	/* background: red; */
}
.newsImgLi{
	position:relative;
	top:0px;
	left:0px;
	float:left;
	height:100%;
	cursor: pointer;	
}
.newsImgLiImg{
	position: absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index: 1px;
}
.newsImgLiModel{
	position: absolute;
	top:0px;
	left:0px;
	z-index: 2px;
	/* 默认隐藏 */
	display: none;
}
.eye{
	background: url(../imgslib/icons/eye.png) no-repeat 100%;
	background-position:center;
	background-color: rgba(0,0,0,0.7);
}
/*****************************************************响应式*****************************************************/
/* x<=767的设备 */
@media screen and (max-width : 767px) { 
	
	/******************新闻详情信息*****************/

}
/* 991>=x>=768的设备 */
@media screen and ( min-width : 768px) and (max-width : 991px) { 
	
	/******************新闻详情信息*****************/
	#newsDetail_changePage>span{
		font-size: 16px;
	}
	#newsDetail_content>div{
		font-size: 17px;
	}
	#newsDetail_content>#newsDetail_name{
		font-size: 22px;
	}
	
	#newsDetail_content>#newsDetail_text{
		font-size: 15px;
		
	}
}


/* 1199>=x>=992的设备 */
@media screen and (min-width : 992px) and (max-width : 1199px){
	
	/******************新闻详情信息*****************/
	
}



/* x>=1200的设备 */
@media screen and ( min-width : 1200px) {
	/******************新闻详情信息*****************/
	

}